<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
        <a id="add_donation" href="{{ url_for('add_donation') }}">Add Donation</a>
        <a id="all" href="{{ url_for('all') }}">View Donations</a>
    </nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
